{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/django-cms-admin.css" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
{% include 'admin/extrastyle.html' %}
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
