



/* Module */
#content-main {
	.inline-group { 
		@include border-radius();
	 	@include box-shadow($background-color-white 0 0 $button-shadow-width inset !important);	
		border: 1px solid $line-color-light;
		background: $background-color-transparent !important;
		padding: 10px;
		h2 {
			background: none !important;
			color: $font-color;
			font-size: 100%;
			margin-bottom: 10px;
			padding: 0 10px 8px 0px;
		}
		div.add-row { 
			background: none !important; 
			border-bottom: 0 !important;
		}
		.form-row {
			border-bottom: none !important;
		}
	}
	
	.inline-related {
		h3 {
			background: none;
			border-bottom: none;
		}
	}
		
	.submit-row {
		@include border-radius();
	 	@include box-shadow($background-color-white 0 0 $button-shadow-width inset !important);	
		border: 1px solid $line-color-light;
		background: $background-color-transparent !important;
		padding: 10px;
		.deletelink-box {
			margin: 0.5em 0 !important;
		}
	}
	.selector {
		.selector-available, .selector-chosen {
			@include border-radius();
			border: 1px solid $line-color-light;
			h2 {
				color: $font-color !important;			
				background: none !important;
				border: none;
				margin-bottom: 0;		 
			}
			input {
				width: 252px;
			}
		}
		.selector-filter {
			border: none;
		}
		select[multiple] {
			border: 1px solid $line-color-light;			
			border-left: none;
			border-right: none;
			margin-bottom: 0;
		}
	}
}

#changelist {
	#toolbar {
		background: none !important;
		border: 0 !important;
		form {
			#searchbar {
				padding: 4px 5px 6px 5px !important;
			}
		}
	}
	#changelist-search {
		div {
			float: right;
			margin-right: 2px;
		}
		label { 
			min-width: auto;
			font-size: 150%; 
		}
	}
	#changelist-filter {
		background: $background-color-transparent;
		h2 {
			background: none;
			color: $font-color-light;
			padding: 2px 9px;
		}
		ul {
			font-size: 12px;
			margin-bottom: 10px;
			li.selected {
				border-left: none !important;
				padding-left: 0 !important;
				margin-left: 0 !important;
				a {
					color: $link-color !important;
				}
			}
		}
	}
	#result_list {
		margin: 0 !important;
	}
	.actions {
		background: none !important;
		border: 0 !important;
		padding: 0px 3px 6px 3px !important;
	}
	.paginator {
		border-top: none !important;
		border-bottom: none !important;
		background: none !important;
	}
	
}

/* Login */

